.auth-btn {
    padding: 10px 20px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-btn:hover {
    background: #c9302c;
}
.edit-profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background: url('Img/background.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
}

.edit-profile-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}


.edit-profile-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.save-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #5bc0de;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.save-btn:hover {
    background: #31b0d5;
}

.form-group .profile-picture-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-group .profile-picture-upload img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.cancel-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: hsl(0, 97%, 62%);
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cancel-btn:hover {
    background: #ff0a0a;
}

